
body {
    font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #7FBF7F;

    }

    header {
        background-color: #4CAF50; 
        color: white;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    header h1 {
        margin: 0;
    }
/* h1 {
    text-align: center;
} */

label {
    display: block;
    margin-bottom: 10px;
}

.search-label {
    display: block;
    font-size: 18px; /* Tamaño de fuente */
    color: #F3F3F3; /* Color del texto */
    margin-bottom: 10px; /* Espacio inferior */
    text-align: center; /* Centrar texto */
}


.search-input {
    width: 80%; 
    max-width: 400px; 
    margin: 0 auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    display: block; 
    background-color: #F3F3F3; 
}

.search-input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



#search-input {
    width: 40%;
    padding: 8px;
    margin-bottom: 20px;
}

.continent-section {
    margin-bottom: 20px;
     
}

.country-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.country-card:hover {
    transform: scale(1.1);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.country-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#pie-chart-container {
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .country-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .country-card {
        width: 100%;
    }
}
